* {
    margin: 0;
}

@font-face {
    src: url(../fontes/lemon.otf);
    font-family: lemon;
}

@font-face {
    src: url(../fontes/organic.TTF);
    font-family: organic;
}

@font-face {
    src: url(../fontes/lemon.otf);
    font-family: lemon;
}

body {
    background-image: url(../imagens/book.jpg);
    background-size: 100%;
    background-attachment: fixed;
    align-items: center;
}

input[type=text],
input[type=number],
input[type=tel] {
    border: none;
    font-size: 14px;
    margin-bottom: 2em;
    border-radius: 15px;
    border: grey solid 1px;
    width: 60%;
    padding-left: 10px;
    text-align: center;
    height: 2em;
    animation: aparece 1s;
}

input[type=number] {
    width: 30%;
}

input[type=radio] {
    margin-top: 2em;
    margin-bottom: 2em;
}

input[type=tel] {
    width: 30%;
}

a {
    text-decoration: none;
    color: black;
}

.btn_padrao {
    border-radius: 5px;
    padding: 10px;
    background: rgb(125, 232, 231);
    color: black;
    font-size: 17px;
    border: 1px solid lightgrey;
    border-left: none;
    width: 20%;
    text-align: center;
    margin: 2em;
    transition: transform 0.3s linear 0.1s;
    width: 20em;
    height: 4em;
    animation: aparece-img 1s;
}

button:hover {
    transform: scale(1.1);
    transition: 0.6s;
    background-color: black;
    color: white;
}

form {
    text-align: center;
    border: 1px solid grey;
    border-radius: 10px;
    /* animation: aparece 1s; */
}

section {
    margin: auto;
    align-items: center;
    width: 70%;
    background-color: #FFFAFA;
    position: relative;
    top: 3vh;
    border-radius: 10px;
}

span,
h2 {
    color: black;
    font-family: organic;
}

tr {
    text-align: center;
}

th,
td {
    border-bottom: 1px solid #ddd;
}

.class_all {
    position: relative;
    top: 10em;
}

.corpo {
    margin: 0 auto;
    width: 1024px;
    height: 5000px;
}

.pesquisa {
    padding-top: 2em;
    padding-bottom: 2em;
    border: 1px solid grey;
    width: 50%;
    border-radius: 10px;
}

.btnVoltar {
    width: 10em;
}

.msgErro {
    text-align: center;
    color: red;
    font-size: 1.3em;
}

.msgSucesso {
    text-align: center;
    color: green;
    font-size: 1.3em;
}

#btn_relatorio {
    width: 10%;
}

#btn_alt_cad {
    width: 10%;
}

#btn_alt_aluno {
    width: 10%;
}

th,
td {
    border-bottom: 1px solid #ddd;
}

#btn_alugar {
    width: 2%;
}

@media screen and (max-width: 800px) {}


/* @-webkit-keyframes aparece {
    from {
        opacity: 0;
        transform: scale(0.001);
    }
}

@-webkit-keyframes aparece-img {
    from {
        opacity: 0;
        transform: scale(0.001);
        transform: rotate(180deg);
    } 
  } */